name: Cargo Checks, Build, Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env: 
  CARGO_TERM_COLOR: always

jobs:
  check_build_test:
    name: Checks, Build, Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Rust
      run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
    
    - name: Run rustfmt
      run: cargo fmt -- --check

    - name: Run clippy
      run: cargo clippy -- -Dwarnings
      # Run clippy on stable only for now. Eventually we will move to nightly.
      if: matrix.toolchain == 'stable'
    
    - name: Build
      run: cargo build --verbose
    
    - name: Test
      run: cargo test --verbose
